body {
    margin: 0;
}
.whole-container {
    height: 100vh;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.top-content {
    height: 12%;
    background-color: rgba(53,66,74,255);
    display: flex;
    flex-direction: row;
    box-shadow: 10px 20px 30px -20px black;
    width: 100%;
}
.logoside {
    height: 80%;
    padding-left: 2%;
    width: 50vh;
    /*background-color: wheat;*/
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    height: 100%;
    width: 50vh;
    background-image: url(JumpStartLogo.png);
    background-size: 100% 100%;
}
.navigationside {
    height: 100%;
    width: 150vh;
    /*background-color: aqua;*/
    padding-left: 25px;
    margin-left: 10px;
    display: flex;
    justify-content: right;
}
.navigationside ul#navigationtabs {
    margin: 0;
    padding-left: 0;
    height: 100%;
    width: 115vh;
    list-style: none; 
    display: flex; 
    flex-direction: row;
    /*background-color: white;*/
}
.navigationside #navigationtabs li#navtabs
{
    height: 100%;
    width: 50%;
    /*margin-left: 2%;*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*cursor: pointer;*/
    color: white;
    font-size: 25px;
    /*background-color: brown;*/
}
.navigationside #navigationtabs li#navtabspace {
    height: 100%;
    width: 5px;
    background-color: white;
}
/*
.navigationside #navigationtabs li:hover 
{
    background-color: rgb(209, 209, 209)
}*/
.currenttab {
    background-color: rgba(228,77,38,255);
    border: none;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: x-large;
}
.button {
    background-color: rgba(53,66,74,255);
    /*background-color: aqua;*/
    border: none;
    color: white;
    text-align: center;
    height: 100px;
    width: 175px;
    font-size: x-large;
    cursor: pointer;
}
.button:hover {
    text-decoration: underline;
}
.whole-container .middle-content {
    height: 95%;
    /*background-color: white;*/
    display: flex;
    flex-direction: row;
}
.whole-container .middle-content .registerandpic-middle-content {
    height: 100%;
    width: 300vh;
    justify-content: center;
    display: flex;
    flex-direction: row;
    /*background-color: rgba(255, 0, 0, 0.555);*/
}
.whole-container .middle-content .registerandpic-middle-content .registrationform-box {
    height: 600px;
    width: 76.7vh;;
    background-color: rgba(116,125,130,255);
    margin-left: 100px;
    margin-right: 2.5%;
    margin-top: 11vh;
    box-shadow: 20px 20px 30px -10px black;
}
.formbox-topdesign {
    height: 12vh;
    width: 76.7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url(formdes.png);
    background-size: 90%, 100%;
    background-color: rgba(53,66,74,255);
}
.register-text {
    /*background-color: aqua;*/
    height: 15%;
    color: white;
    font-size: xxx-large;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8vh;
}
span#OrangeText {
    color: rgba(228,77,38,255);
}
.registrationform {
    /*background-color: beige;*/
    height: 85%;
    width: 76.7vh;
    margin-top: 2px;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url(boxdesign.png);
    background-size: 15%;
    background-position: 100% 35%;
    background-repeat: no-repeat;
}
.registrationform form {
    /*background-color: aquamarine;*/
    height: 90%;
    width: 95%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: left;
}
span#formremindertext {
    color: whitesmoke;
    font-weight: lighter;
    font-size: large;
}
.registrationform form input[type="text"], .registrationform form input[type="password"] {
    height: 5vh;
    width: 50vh;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 2px solid black;
}
.checkbox-policy {
    margin-top: 15px;
    /*background-color: aqua;*/
    display: flex;
    justify-content: left;
    align-items: center;
}
span#formremindertext2 {
    margin-left: 15px;
    color: white;
    font-weight: lighter;
    font-size: large;
}
.registrationform form input[type="checkbox"] {
    height: 30px;
    width: 30px;
}
.registrationform form input[type="submit"] {
    background-color: rgba(228,77,38,255);
    height: 80px;
    margin: 5%;
    color: white;
    font-size: xx-large;
}
.registrationform form input[type="submit"]:hover {
    text-decoration: underline;
}
.whole-container .middle-content .registerandpic-middle-content .picture-box {
    height: 720px;
    width: 700px;
    /*background-color: wheat;*/
    margin-left: 2.5%;
    margin-right: 5%;
    margin-top: 2.5%;
} 
.picture2 {
    height: 100%;
    width: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(employerReg.png);
    background-size: 90% 90%;
}
.picture {
    height: 100%;
    width: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(employeeReg.png);
    background-size: 90% 90%;
}
.employerRegtext {
    padding-right: 30px;
    display: flex;
    justify-content: right;
    font-size: x-large;
    height: 50px;
    padding-bottom: 15px;
}
span#employerRegLink {
    padding-left: 5px;
    cursor: pointer;
}
span#employerRegLink:hover {
    text-decoration: underline;
    color: rgba(228,77,38,255);
}
a#employerReg {
    text-decoration: none;
    color: rgba(228,77,38,255);
}
.modal { 
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 20px 20px 30px -10px black;
    z-index: 1000;
    height: 150px;
    width: 430px;
}

#modalDesign {
    height: 37%;
    width: 100%;
    background-color: rgba(53,66,74,255);
}

#modalDesignPicture {
    height: 100%;
    width: 100%;
    background-image: url(ErrorBoxDesign.png);
    background-size: 90%, 100%;
    background-repeat: no-repeat;
    display: flex;
}

span#RedText {
    color: rgba(255,0,0,255);
}

.errorTexttitle {
    margin-left: 160px;
    height: 100%;
    width: 55%;
    /*background-color: azure;*/
    display: flex;
    align-items: center;
    font-size: xxx-large;
    color: white;
    
}

#modalContent {
    color: rgba(98,106,112,255);
    font-weight: bolder;
    height: 66%;
    width: 100%;
    /*background-color: aqua;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    padding-left: 15px;
    padding-right: 15px;
}

#closeModal {
    padding-left: 20px;
    cursor: pointer;
    float: right;
    color: white;
    /*background-color: bisque;*/
}


#modalDesignPicture2 {
    height: 100%;
    width: 100%;
    background-image: url(SuccessBoxDesign.png);
    background-size: 90%, 100%;
    background-repeat: no-repeat;
    display: flex;
}

.SuccessTexttitle {
    margin-left: 70px;
    height: 100%;
    width: 55%;
    /*background-color: azure;*/
    display: flex;
    align-items: center;
    font-size: xx-large;
    color: white;
}
span#GreenText {
    color: rgba(126,217,87,255);
}

#modalContent2 {
    color: rgba(98,106,112,255);
    font-weight: bolder;
    height: 66%;
    width: 100%;
    /*background-color: aqua;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    padding-left: 15px;
    padding-right: 15px;
}

#closeModal2 {
    padding-left: 105px;
    cursor: pointer;
    float: right;
    color: white;
    /*background-color: bisque;*/
}